{{#if showAd}}
  <div id="{{thisDesktopId}}" class="{{theme-i18n 'house_ads_livewrapped_desktop_classes'}}"></div>
  <div id="{{thisMobileId}}" class="{{theme-i18n 'house_ads_livewrapped_mobile_classes'}}"></div>
{{/if}}